
ul{
  list-style: none;
  padding: 0;
}
.btn, button {
  cursor: pointer;
  outline: none;
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

.btn.disabled {
  cursor: default;
}
.width_100{
  width: 100%;
}
.btn-primary.disabled, .btn-primary:disabled {
  background-color: rgba(0, 138, 255, 0.35);
  border-color: rgba(0, 138, 255, 0.35);
}
.img_block {
  margin-bottom: 20px;
}
.popup {
  position: relative;
  width: 600px;
  max-width: 100%;
  padding: 30px;
  background-color: #fff;
  margin: auto;
}
.popup_notifications {
  position: relative;
  width: 400px;
  max-width: 100%;
  padding: 30px 30px 20px 30px;
  background-color: #fff;
  margin: auto;
}
.td_actions {
  display: flex;
}
.alert.status_alert {
  position: absolute;
  right: 0;
  display: none;
}
.top_home_block {
  .tile-stats {
    h3 {
      font-size: 18px;
    }
    .icon {
      i {
        font-size: 54px;
      }
    }
  }
}
.radio_group {
  display: flex;
  margin-bottom: 20px;
  .radio_label {
    border: 1px solid #777777;
    border-radius: 0;
    flex-grow: 1;
    font-size: 22px;
    outline: none;
    i {
      margin-right: 20px;
    }
    &.active {
      background-color: #777777;
      color: #ffffff;
    }
  }
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {

}
.group_no_padding {
  display: flex;
  .no_padding_item {
    flex-grow: 1;
  }
}
.actions_th {
  &:after {
    display: none!important;
  }
}
.order_detail_blocks {
  height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h5{
    font-size: 16px;
    color: #465365;
    font-weight: 900;
  }

  label {
    display: block;
  }
}
.order_details_form {
  height: 100%;
  .order_details_form_blocks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}
.comments_block {
  height: 350px;
  overflow: auto;
  margin-bottom: 20px;
  li{
    padding: 10px;
    display: flex;
    position: relative;
    .create {
      position: absolute;
      right: 20px;
      top: 10px;
    }
    .avatar_block{
      width: 70px;
      height: 70px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 15px;
      img {
        width: 100%;
      }
    }
    .comment_block{
      .name{
        font-size: 16px;
        color: #000000;
        font-weight: 700;
        margin-bottom: 10px;
      }
      .comment {
        font-size: 14px;
      }
    }
    &:nth-child(odd){
      background-color: #d3d3d3;
    }
  }
}
.order_name_wrap {
  position: relative;
  .list_detail {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: -1;
    border: 1px solid #ced4da;
    transition-duration: 0.3s;
    opacity: 0;
    &.active {
      opacity: 1;
      z-index: 10;
    }
    li {
      padding: 10px;
      color: #0b97c4;
      cursor: pointer;
      transition-duration: 0.3s;
      text-transform: uppercase;
      &:hover {
        background-color: #d6d6d6;
      }
    }
  }
}
.wizard_verticle {
  ul.status_list {
    float: none;
    width: 100%;
    li {
      display: flex;
      align-items: center;
      &:hover {
        display: flex;
      }
      .status_icon{
        margin-right: 20px;
      }
      .date_wrap {
        flex-grow: 1;
        text-align: left;
        .step_descr {
          margin-bottom: 5px;
          font-size: 16px;
        }
      }
    }
  }
}

.popup_status {
  width: 700px;
  padding: 30px;
  margin: 20px auto;
  form {
    width: 500px;
    margin: auto;
    max-width: 100%;
  }
  ul.popup_status_list {
    float: none;
    width: 100%;
    li {
      display: flex;
      align-items: center;
      &:hover {
        display: flex;
      }
      .status_icon{
        margin-right: 20px;
      }
      .date_wrap {
        flex-grow: 1;
        text-align: left;
        .step_descr {
          margin-bottom: 5px;
          font-size: 18px;
        }
      }
    }
  }
}
.radio_group {
  .btn {
    max-width: 50%;
  }
}
.btn-primary {
  background-color: #00538A;
  border-color: #00538A;
}
.btn-primary:hover {
  background-color: #005f9c;
  border-color: #005f9c;
}
ul.wizard_steps li a.disabled .step_no, ul.wizard_steps li a.selected .step_no {
  color: #ffffff;
}
.del_file {
  color: #a10e0b;
  cursor: pointer;
}
.modal_maps {
  >div {
    white-space: nowrap;
  }
}

.img_avatar {
  width: 100%;
}
.photo_wrapper {
  position: relative;
  .button_block {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
  }
}
.success_modal {
  width: 450px;
  max-width: 100%;
}
.files_wrap {
  display: flex;
  flex-wrap: wrap;
  .file_block {
    margin-right: 10px;
    margin-bottom: 15px;
    .file_name_block {
      position: relative;
      display: inline-block;
      background-color: #34495E;
      padding: 3px 8px;
      color: #ffffff;
      border-radius: 2px;
      .file_name {
        display: inline-block;
        margin-right: 5px;
      }
      .delete_file {
        color: #4F0800;
        cursor: pointer;
      }
    }
    &.active {
      .file_name_block {
        display: none;
      }
    }
  }
}

.product_block {
  h4 {
    font-size: 20px;
  }
  a.selected {
    .step_descr {
      font-weight: 700;
      color: #000000;
    }
  }
  .step_descr {
    font-size: 12px;
  }
}
.user_block {
  display: flex;
  margin-bottom: 20px;
  position: relative;
  .img_block {
    width: 50px;
    margin-right: 10px;
    margin-bottom: 0;
    img{
      width: 100%;
    }
  }
  .user_action_block {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .title {
    font-size: 18px;
    font-weight: 700;
  }
}

.step_completed {
  padding: 3px 5px;
  background-color: #34495E;
  color: #ffffff;
  display: inline-block;
  border-radius: 2px;
  cursor: pointer;
  &.hide{
    display: none;
  }
}
.update_status_form {
  position: relative;
  display: none;
  .button_wrap{
    position: absolute;
    right: 0;
    top: 0;
  }
  .form-control.has-feedback-left {
    padding: 0 5px 0 45px;
    height: 31px;
  }
  .form-control-feedback{
    margin-top: 3px;
  }
  &.active {
    display: block;
  }
}
.develop_user_block {
  padding: 20px;
  position: relative;
  margin-bottom: 0;
  height: 106px;
  .user_action_block {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
.developers_clients_list {
  .client_wrap {
    padding: 0 10px;
    background-color: #c7c7c7;
    color: #000000;
    margin-bottom: 10px;
    .btn{
      margin-bottom: 0;
    }
    .client_top_block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px;
      .products_list {
        background-color: #fff;
      }
      .caret_button {
        background-color: transparent;
        font-size: 24px;
        padding: 0;
        border: 0;
        margin: 0;
        line-height: 1.2;
      }
    }
    .products_list {
      padding: 10px 0;
      display: none;
      .product_block {
        display: none;
        padding: 10px 0;
      }
      .product_wrap {
        &:last-child {
          margin-bottom: 0;
        }
        &.active{
          background-color: #fff;
          .product_block {
            display: block;
          }
        }
      }
    }

    &.active {
      background-color: #a2a2a2;
      >.client_top_block {
        border-bottom: 1px solid #454545;
        .caret_button {
          transform: rotate(180deg);
        }
      }
      >.products_list{
        display: block;
      }

    }
  }
}
.kpi_block {
  cursor: pointer;
  transition-duration: 0.3s;
  border: 2px solid transparent;
  &.active, &:hover {
    border: 2px solid #000000;
    color: #000000;
    h3 {
      color: #000000;
    }
    .icon {
      color: #000000;
      i {
        color: #000000;
      }
    }
  }
}
.kpi_wrapper {
  border: 2px solid #000000;
  padding: 20px;
}
.kpi_top {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  .arrow {
    font-size: 24px;
  }
  .text {
    margin: 0 10px;
    font-size: 18px;
    font-weight: 700;
  }
}


.kpi_table {
  display: flex;
  align-items: flex-end;
  .item {
    flex-direction: column;
    border-bottom: 1px solid #17212f;
    border-top: 1px solid #17212f;
    border-right: 1px solid #17212f;
    flex-grow: 1;
    &:first-child{
      border-left: 1px solid #17212f;
      border-right: none;
      width: 80px;
      .top_block {
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &:nth-child(2){
      border-left: 1px solid #17212f;
    }
    .top_block {
      background-color: #8e8e8e;
      color: #ffffff;
      text-align: center;
      padding: 5px;
      height: 65px;
      .title {
        text-transform: uppercase;
        font-weight: 600;
      }
      .text {
        font-size: 12px;
      }
    }
    .bottom_block {
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .count {
      font-size: 34px;
      font-weight: 900;
    }
    .no_count {
      border: 1px dashed #2A3F54;
      width: 100%;
    }
  }
}

.developer_page {
  .detail_order {
    font-size: 16px;
    span {
      color: #777777;
    }
  }
}
.pagination {
  .page-item{
    .page-link{
      color: #00538A;
    }
    &.active {
      .page-link{
        background-color: #00538A;
        border-color: #00538A;
        color: #fff;
      }
    }
  }
}
