ul {
  list-style: none;
  padding: 0;
}

.btn,
button {
  cursor: pointer;
  outline: none;
}

.btn:active,
button:active {
  outline: none;
}

.btn:focus,
button:focus {
  outline: none;
}

.btn.disabled {
  cursor: default;
}

.width_100 {
  width: 100%;
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: rgba(0, 138, 255, 0.35);
  border-color: rgba(0, 138, 255, 0.35);
}

.img_block {
  margin-bottom: 20px;
}

.popup {
  position: relative;
  width: 600px;
  max-width: 100%;
  padding: 30px;
  background-color: #fff;
  margin: auto;
}

.popup_notifications {
  position: relative;
  width: 400px;
  max-width: 100%;
  padding: 30px 30px 20px 30px;
  background-color: #fff;
  margin: auto;
}

.td_actions {
  display: flex;
}

.alert.status_alert {
  position: absolute;
  right: 0;
  display: none;
}

.top_home_block .tile-stats h3 {
  font-size: 18px;
}

.top_home_block .tile-stats .icon i {
  font-size: 54px;
}

.radio_group {
  display: flex;
  margin-bottom: 20px;
}

.radio_group .radio_label {
  border: 1px solid #777777;
  border-radius: 0;
  flex-grow: 1;
  font-size: 22px;
  outline: none;
}

.radio_group .radio_label i {
  margin-right: 20px;
}

.radio_group .radio_label.active {
  background-color: #777777;
  color: #ffffff;
}

.group_no_padding {
  display: flex;
}

.group_no_padding .no_padding_item {
  flex-grow: 1;
}

.actions_th:after {
  display: none !important;
}

.order_detail_blocks {
  height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order_detail_blocks h5 {
  font-size: 16px;
  color: #465365;
  font-weight: 900;
}

.order_detail_blocks label {
  display: block;
}

.order_details_form {
  height: 100%;
}

.order_details_form .order_details_form_blocks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.comments_block {
  height: 350px;
  overflow: auto;
  margin-bottom: 20px;
}

.comments_block li {
  padding: 10px;
  display: flex;
  position: relative;
}

.comments_block li .create {
  position: absolute;
  right: 20px;
  top: 10px;
}

.comments_block li .avatar_block {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}

.comments_block li .avatar_block img {
  width: 100%;
}

.comments_block li .comment_block .name {
  font-size: 16px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 10px;
}

.comments_block li .comment_block .comment {
  font-size: 14px;
}

.comments_block li:nth-child(odd) {
  background-color: #d3d3d3;
}

.order_name_wrap {
  position: relative;
}

.order_name_wrap .list_detail {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: -1;
  border: 1px solid #ced4da;
  transition-duration: 0.3s;
  opacity: 0;
}

.order_name_wrap .list_detail.active {
  opacity: 1;
  z-index: 10;
}

.order_name_wrap .list_detail li {
  padding: 10px;
  color: #0b97c4;
  cursor: pointer;
  transition-duration: 0.3s;
  text-transform: uppercase;
}

.order_name_wrap .list_detail li:hover {
  background-color: #d6d6d6;
}

.wizard_verticle ul.status_list {
  float: none;
  width: 100%;
}

.wizard_verticle ul.status_list li {
  display: flex;
  align-items: center;
}

.wizard_verticle ul.status_list li:hover {
  display: flex;
}

.wizard_verticle ul.status_list li .status_icon {
  margin-right: 20px;
}

.wizard_verticle ul.status_list li .date_wrap {
  flex-grow: 1;
  text-align: left;
}

.wizard_verticle ul.status_list li .date_wrap .step_descr {
  margin-bottom: 5px;
  font-size: 16px;
}

.popup_status {
  width: 700px;
  padding: 30px;
  margin: 20px auto;
}

.popup_status form {
  width: 500px;
  margin: auto;
  max-width: 100%;
}

.popup_status ul.popup_status_list {
  float: none;
  width: 100%;
}

.popup_status ul.popup_status_list li {
  display: flex;
  align-items: center;
}

.popup_status ul.popup_status_list li:hover {
  display: flex;
}

.popup_status ul.popup_status_list li .status_icon {
  margin-right: 20px;
}

.popup_status ul.popup_status_list li .date_wrap {
  flex-grow: 1;
  text-align: left;
}

.popup_status ul.popup_status_list li .date_wrap .step_descr {
  margin-bottom: 5px;
  font-size: 18px;
}

.radio_group .btn {
  max-width: 50%;
}

.btn-primary {
  background-color: #00538A;
  border-color: #00538A;
}

.btn-primary:hover {
  background-color: #005f9c;
  border-color: #005f9c;
}

ul.wizard_steps li a.disabled .step_no,
ul.wizard_steps li a.selected .step_no {
  color: #ffffff;
}

.del_file {
  color: #a10e0b;
  cursor: pointer;
}

.modal_maps > div {
  white-space: nowrap;
}

.img_avatar {
  width: 100%;
}

.photo_wrapper {
  position: relative;
}

.photo_wrapper .button_block {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.success_modal {
  width: 450px;
  max-width: 100%;
}

.files_wrap {
  display: flex;
  flex-wrap: wrap;
}

.files_wrap .file_block {
  margin-right: 10px;
  margin-bottom: 15px;
}

.files_wrap .file_block .file_name_block {
  position: relative;
  display: inline-block;
  background-color: #34495E;
  padding: 3px 8px;
  color: #ffffff;
  border-radius: 2px;
}

.files_wrap .file_block .file_name_block .file_name {
  display: inline-block;
  margin-right: 5px;
}

.files_wrap .file_block .file_name_block .delete_file {
  color: #4F0800;
  cursor: pointer;
}

.files_wrap .file_block.active .file_name_block {
  display: none;
}

.product_block h4 {
  font-size: 20px;
}

.product_block a.selected .step_descr {
  font-weight: 700;
  color: #000000;
}

.product_block .step_descr {
  font-size: 12px;
}

.user_block {
  display: flex;
  margin-bottom: 20px;
  position: relative;
}

.user_block .img_block {
  width: 50px;
  margin-right: 10px;
  margin-bottom: 0;
}

.user_block .img_block img {
  width: 100%;
}

.user_block .user_action_block {
  position: absolute;
  top: 20px;
  right: 20px;
}

.user_block .title {
  font-size: 18px;
  font-weight: 700;
}

.step_completed {
  padding: 3px 5px;
  background-color: #34495E;
  color: #ffffff;
  display: inline-block;
  border-radius: 2px;
  cursor: pointer;
}

.step_completed.hide {
  display: none;
}

.update_status_form {
  position: relative;
  display: none;
}

.update_status_form .button_wrap {
  position: absolute;
  right: 0;
  top: 0;
}

.update_status_form .form-control.has-feedback-left {
  padding: 0 5px 0 45px;
  height: 31px;
}

.update_status_form .form-control-feedback {
  margin-top: 3px;
}

.update_status_form.active {
  display: block;
}

.develop_user_block {
  padding: 20px;
  position: relative;
  margin-bottom: 0;
  height: 106px;
}

.develop_user_block .user_action_block {
  position: absolute;
  top: 20px;
  right: 20px;
}

.developers_clients_list .client_wrap {
  padding: 0 10px;
  background-color: #c7c7c7;
  color: #000000;
  margin-bottom: 10px;
}

.developers_clients_list .client_wrap .btn {
  margin-bottom: 0;
}

.developers_clients_list .client_wrap .client_top_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.developers_clients_list .client_wrap .client_top_block .products_list {
  background-color: #fff;
}

.developers_clients_list .client_wrap .client_top_block .caret_button {
  background-color: transparent;
  font-size: 24px;
  padding: 0;
  border: 0;
  margin: 0;
  line-height: 1.2;
}

.developers_clients_list .client_wrap .products_list {
  padding: 10px 0;
  display: none;
}

.developers_clients_list .client_wrap .products_list .product_block {
  display: none;
  padding: 10px 0;
}

.developers_clients_list .client_wrap .products_list .product_wrap:last-child {
  margin-bottom: 0;
}

.developers_clients_list .client_wrap .products_list .product_wrap.active {
  background-color: #fff;
}

.developers_clients_list .client_wrap .products_list .product_wrap.active .product_block {
  display: block;
}

.developers_clients_list .client_wrap.active {
  background-color: #a2a2a2;
}

.developers_clients_list .client_wrap.active > .client_top_block {
  border-bottom: 1px solid #454545;
}

.developers_clients_list .client_wrap.active > .client_top_block .caret_button {
  transform: rotate(180deg);
}

.developers_clients_list .client_wrap.active > .products_list {
  display: block;
}

.kpi_block {
  cursor: pointer;
  transition-duration: 0.3s;
  border: 2px solid transparent;
}

.kpi_block.active,
.kpi_block:hover {
  border: 2px solid #000000;
  color: #000000;
}

.kpi_block.active h3,
.kpi_block:hover h3 {
  color: #000000;
}

.kpi_block.active .icon,
.kpi_block:hover .icon {
  color: #000000;
}

.kpi_block.active .icon i,
.kpi_block:hover .icon i {
  color: #000000;
}

.kpi_wrapper {
  border: 2px solid #000000;
  padding: 20px;
}

.kpi_top {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.kpi_top .arrow {
  font-size: 24px;
}

.kpi_top .text {
  margin: 0 10px;
  font-size: 18px;
  font-weight: 700;
}

.kpi_table {
  display: flex;
  align-items: flex-end;
}

.kpi_table .item {
  flex-direction: column;
  border-bottom: 1px solid #17212f;
  border-top: 1px solid #17212f;
  border-right: 1px solid #17212f;
  flex-grow: 1;
}

.kpi_table .item:first-child {
  border-left: 1px solid #17212f;
  border-right: none;
  width: 80px;
}

.kpi_table .item:first-child .top_block {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kpi_table .item:nth-child(2) {
  border-left: 1px solid #17212f;
}

.kpi_table .item .top_block {
  background-color: #8e8e8e;
  color: #ffffff;
  text-align: center;
  padding: 5px;
  height: 65px;
}

.kpi_table .item .top_block .title {
  text-transform: uppercase;
  font-weight: 600;
}

.kpi_table .item .top_block .text {
  font-size: 12px;
}

.kpi_table .item .bottom_block {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kpi_table .item .count {
  font-size: 34px;
  font-weight: 900;
}

.kpi_table .item .no_count {
  border: 1px dashed #2A3F54;
  width: 100%;
}

.developer_page .detail_order {
  font-size: 16px;
}

.developer_page .detail_order span {
  color: #777777;
}

.pagination .page-item .page-link {
  color: #00538A;
}

.pagination .page-item.active .page-link {
  background-color: #00538A;
  border-color: #00538A;
  color: #fff;
}

